.body {
    font-family: monospace;
    /* margin-left: 20%;
    margin-right: 20%; */
    min-width: 350px;
    /* background-color: azure; */
    background-color: #f5fcff;
    margin: 0 auto;
    max-width: 97.5rem;
}


.main {
  background-color: white;
}



 .titleContainer {
align-items:flex-start;
}

.logo {
  display:flex;
  align-items:flex-start;
}


.navbar {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white !important;
    min-width: 350px;
  }

  .nav {
 }


 .navbar-brand {
    font-weight: bolder;
     color: rgb(101, 104, 255) !important;
}  



.navbar-toggler {
  margin-left: 20px;
}



.subheadingContainer {
    padding: 5px;
    margin: 2em;
    background-color: rgba(255, 127, 127, 0.4);
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.subheadingContainerCode {
  padding: 5px;
  margin: 2em;
  background-color: rgba(255, 127, 127, 0.4);
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin-bottom: 250px;
  /* margin-top: 350px; */
}

.subheadingContainerContact {
  padding: 5px;
  margin: 2em;
  background-color: rgba(255, 127, 127, 0.4);
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin-bottom: 250px;
  /* margin-top: 350px; */
}



.subheadingContainer02 {
  padding: 5px;
  margin: 2em;
  background-color: rgba(255, 127, 127, 0.4);
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  /* margin-bottom: 250px; */
  margin-top: 500px;
}

.subheadingContainer03 {
  padding: 5px;
  margin: 2em;
  background-color: rgba(255, 127, 127, 0.4);
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}



.container04 {
  width: 300px;
margin-left: 50px;

}

.gallery03 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  max-width: 1200px;
  padding: 20px 10px;
  margin-bottom: 250px;

  
}

.codegallerypos01 {
margin-left: 50px;
margin-top: 50px;
}

.gallery05 {
  margin-left: 125px;
}



.music-player {
    padding: 5px;
    margin: 2em;
}

.portfolio-gallery {
    padding: 5px;
    margin: 2em;
    margin-bottom: 250px;
}

* {
    box-sizing: border-box;
  }

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    max-width: 1600px;
    padding: 20px 10px;
    
  }



  .gallery03 img {
    width: 100%;
    max-width: 350px;
    height: 350px;
    flex-wrap: wrap;
    object-fit:cover;
    object-position:top;

 margin-left: 20px;
 margin-top: 50px;

  }

  .gallery img {
    width: 100%;
    max-width: 385px;
    height: 385px;
    flex-wrap: wrap;
    object-fit:cover;
    object-position:top;

  }

  .gallery::after {
    content: "";
    width: 350px;
  }


  .items01 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* margin-bottom: 150px; */
  }

  .items02 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
    /* max-width: 800px; */
    /* margin-bottom: 150px; */
    /* margin-left: 50px; */
  }

  .card {

    margin-left: 25px;
    margin-bottom: 25px;
    

  }



   .overset-images {
  } 

  .carousel {
    width:640px;
    height:360px;
  }

  .containall {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .cardContainer01 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }


.img-fluid {
  margin-top: 50px;
  margin-right: 100px;
}

.img-max {
  max-width: 550px;
  margin-left: 10%;
  margin-bottom: 150px;
  position: relative;
}

.img-max02 {
  max-width: 830px;
}

  .centered {
    color:rgb(0, 221, 255);
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    margin-left: 5em;
    margin-top: 16em;
    max-width: 40%;
    float:top;
  }



   #here {
      font-family: monospace;
      font-style: italic;
      color:rgb(0, 221, 255) !important;
   }



  @media only screen and (min-width: 800px) {
    .centered {
       margin-left: 22em;
    }
  }

  @media only screen and (min-width: 450px) {
    .centered {
      min-width: 47%;
    }
  }



  @media only screen and (min-width: 400px) {
    .items01 {
       justify-content: center;
    }
  }

  @media only screen and (max-width: 800px) {
    .items01 {
       justify-content: left;
    }
  }

  @media only screen and (min-width: 800px) {
    .items01 {
       justify-content: left;
    }
  }


  .footer01 {
    margin-left: 15px;
    padding-top: 15px;
    font-family: monospace;
    float:left;
}

.bottom-div {
  margin-top: 650px;
  margin-bottom: 300px;
}

.bottom-div02 {
  margin-top: 650px;
  margin-bottom: 300px;
}